.page-footer {
  padding-top: 20px;
  margin: 20px 0 30px;
  border-top: 1px solid #eeeeee;
}

.body-unit {
  padding: 10px;
  margin-bottom: 10px;
  line-height: 20px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

label {
  display: block;
  width: 100px;
  float: left;
}

input {
  width: 300px;
}

textarea {
  height: 250px;
  width: 300px;
}

#action_buttons {
  margin-left: 100px;
}
