<% @page_title = 'Sobre o sítio' %>

<% @breadcrumbs = Array.new %>
<%= partial :bread_crumb, :object => @breadcrumbs %>

<p>

<h3>Sobre o portal</h3>

<div class="body-unit">
  <section id="missao">
    <h4>Missão</h4>
    <p class="large-text">
      Disponibilizar dados abertos referentes ao Cadastro Nacional de <a href="#reclamacoes_fundamentadas">Reclamações Fundamentadas</a> do Procon de maneira agregada e formatada, possibilitando
      ao cidadão comum acesso rápido aos dados históricos de reclamações fundamentadas registradas pelos Procons.
    <p/>
  </section>
  
  <section id="reclamacoes_fundamentadas">
    <h4>Reclamações fundamentadas</h4>
    <p class="large-text">
      A maior parte das demandas dos consumidores é tratada com procedimentos céleres e sumários, sem a necessidade de abertura de processo
      administrativo. Todavia, há casos em que o Procon abre um processo administrativo para o tratamento da demanda do consumidor.
      A decisão de abertura de um processo administrativo decorre da reincidência contumaz de fornecedores em determinadas condutas,
      da urgência e gravidade do objeto da demanda ou do descumprimento de acordos feitos nos outros tipos de atendimento (Atendimento Preliminar e CIP).
      O processo administrativo para tratamento da demanda individual do consumidor é denominado Reclamação.
    <p/>
    <p class="large-text">
      A definição de reclamação está inserida no art. 58, inciso II, do Decreto Federal 2.181/97, que regulamentou o <a href="http://pt.wikipedia.org/wiki/C%C3%B3digo_de_Defesa_do_Consumidor">CDC</a>,
      como sendo a notícia de lesão ou ameaça a direito de consumidor analisada por órgão público de defesa do consumidor, a requerimento
      ou de ofício, considerada procedente, por decisão definitiva.
    </p>
    <p class="large-text">
      A Reclamação é aberta pelo Procon a partir da notícia levada pelo consumidor, e é instruída com documento comprobatório da existência de
      relação de consumo. A partir daí o fornecedor é notificado para manifestar-se na Reclamação e para atender à solicitação do consumidor.
    </p>
    <p class="large-text">
      Quando a notícia de lesão ou de ameaça a direito do consumidor tratada por meio de Reclamação é considerada procedente pela autoridade de
      defesa do consumidor, após análise técnica, a Reclamação é classificada como fundamentada. No caso em que o fornecedor soluciona o problema
      apresentado pelo consumidor em uma Reclamação fundamentada, ela é classificada como atendida. Quando o fornecedor não soluciona o problema,
      a Reclamação fundamentada é classificada como não atendida.
    </p>
    <p class="large-text">
      O <a href="http://pt.wikipedia.org/wiki/C%C3%B3digo_de_Defesa_do_Consumidor">CDC</a> prevê, no seu artigo 44, que os órgãos públicos que atuam na
      proteção e defesa do consumidor devem manter registros dessas Reclamações Fundamentadas, devendo publicá-los com periodicidade mínima anual.
      Diz o referido dispositivo legal: Lei n.º 8.078/90: "Art. 44. Os órgãos públicos de defesa do consumidor manterão cadastros atualizados de
      reclamações fundamentadas contra fornecedores de produtos e serviços, devendo divulgá-los pública e anualmente. A divulgação indicará se a
      reclamação foi atendida ou não pelo fornecedor."
    </p>
    <p>
      Fonte: <a href="http://www.pjf.mg.gov.br/procon/reclama_fundamenta/reclamacao.php">http://www.pjf.mg.gov.br/procon/reclama_fundamenta/reclamacao.php</a>
    </p>
  </section>
  
  <section id="dados">
    <h4>Dados</h4>
    <p class="large-text">
      Os dados ora apresentados neste sítio foram extraídos do portal do <a href="http://portal.mj.gov.br">Ministério da Justiça</a> e
      têm como escopo os anos 2009, 2010 e 2011.
      É importante salientar que as informações abordadas neste sítio não abrangem todas as reclamações registradas pelos Procons uma
      vez que os dados providos pelo <a href="http://portal.mj.gov.br">Ministério da Justiça</a> compreendem apenas as <strong>reclamações fundamentadas</strong>.
    </p>
    <p class="large-text">
      A maior parte dos Procons utiliza-se preponderantemente de tipos de atendimento mais céleres para resolução dos problemas enfrentados
      pelos consumidores. De fato, as Reclamações Fundamentadas representaram 15,3% de todos os atendimentos realizados em 2011.
    <p/>
    <p class="large-text">
      O Cadastro Nacional de Reclamações Fundamentadas reúne as informações contidas nos Cadastros Estaduais e Municipais publicados,
      que contêm as reclamações fundamentadas arquivadas pelos Procons no período de 1o de janeiro a 31 de dezembro de cada ano.
    </p>
    <p class="large-text">
      Em 2011 um total de 21 estados, o Distrito Federal e 45 municípios publicaram seus Cadastros. Abaixo segue a lista completa dos
      Procons participantes do Cadastro Nacional 2011.
    </p>
    <p>
      <h5>Procons Estaduais</h5>
      <ul>
        <li>Diretoria Estadual de Proteção e Defesa do Consumidor - Procon/ Acre</li>
        <li>Procon Estadual de Alagoas</li>
        <li>Procon Estadual do Amazonas</li>
        <li>Instituto de Defesa do Consumidor do Estado do Amapá</li>
        <li>Procon Bahia</li>
        <li>Programa Estadual de Proteção e Defesa do Consumidor - Procon Ceará</li>
        <li>Instituto de Defesa do Consumidor - Procon DF</li>
        <li>Instituto Estadual de Proteção e Defesa do Consumidor – Procon/ES</li>
        <li>Procon Estadual de Goiás</li>
        <li>Procon Estadual do Maranhão</li>
        <li>Procon Estadual do Mato Grosso do Sul</li>
        <li>Procon Mato Grosso</li>
        <li>Procon Pará</li>
        <li>Procon Estadual da Paraíba</li>
        <li>Procon Estadual de Pernambuco</li>
        <li>Procon Estadual do Piauí</li>
        <li>Procon Estadual do Rio de Janeiro</li>
        <li>Procon do Estado do Rio Grande do Norte</li>
        <li>Procon Estadual do Rio Grande do Sul</li>
        <li>Procon Estadual Santa Catarina</li>
        <li>Fundação de Proteção e Defesa do Consumidor – Procon São Paulo</li>
      </ul>
      
      <h5>Procons Municipais</h5>
      <ul>
        <li>Procon Municipal de Cariacica</li>
        <li>Procon Municipal de Vitória</li>
        <li>Procon Municipal de Anápolis</li>
        <li>Procon Municipal de Caldas Novas</li>
        <li>Procon Municipal de Itumbiara</li>
        <li>Procon Municipal de Jataí</li>
        <li>Procon Municipal de Luziânia</li>
        <li>Procon Municipal de Mineiros</li>
        <li>Procon Municipal de Rio Verde</li>
        <li>Coordenadoria Municipal de Proteção e Defesa do Consumidor (Procon/Uberaba)</li>
        <li>Procon Belo Horizonte</li>
        <li>Procon Municipal de Itabirito</li>
        <li>Procon Municipal de Campo Belo</li>
        <li>Procon Municipal de Congonhas</li>
        <li>Procon Municipal de Contagem</li>
        <li>Procon Municipal de Coronel Fabriciano</li>
        <li>Procon Municipal de Curvelo</li>
        <li>Procon Municipal de Divinópolis</li>
        <li>Procon Municipal de Guanhães</li>
        <li>Procon Municipal de Guapé</li>
        <li>Procon Municipal de Itabira</li>
        <li>Procon Municipal de Itajubá</li>
        <li>Procon Municipal de Itaúna</li>
        <li>Procon Municipal de Janaúba</li>
        <li>Procon Municipal de Juiz de Fora</li>
        <li>Procon Municipal de Lagoa da Prata</li>
        <li>Procon Municipal de Leopoldina</li>
        <li>Procon Municipal de Mariana</li>
        <li>Procon Municipal de Montes Claros</li>
        <li>Procon Municipal de Ouro Preto</li>
        <li>Procon Municipal de Piumhi</li>
        <li>Procon Municipal de Poços de Caldas</li>
        <li>Procon Municipal de Sete Lagoas</li>
        <li>Procon Municipal de Teófilo Otoni</li>
        <li>Procon Municipal de Ubá</li>
        <li>Procon Varginha</li>
        <li>Procon Alta Floresta</li>
        <li>Procon Barra do Garças</li>
        <li>Procon Campo Novo do Parecis</li>
        <li>Procon Lucas do Rio Verde</li>
        <li>Procon Primavera do Leste</li>
        <li>Procon Rondonópolis</li>
        <li>Procon São José do Rio Claro</li>
        <li>Procon Sinop</li>
        <li>Procon Sorriso</li>
        <li>Procon Municipal de Florianópolis</li>
      </ul>
    </p>
  </section>
  
  <section id="licenca">
    <h4>Licença</h4>
    <p class="large-text">
      Este sítio é regido por políticas de software livre: você pode redistribui-lo e/ou modificálo
      sob os termos da GNU Affero General Public Licence como publicado pela Free Software Foundation,
      bem como na versão 3 da licença ou qualquer outra versão posterior.
    </p>
    <p class="large-text">
      O código fonte deste sítio é distribuído na esperança de que seja útil, mas SEM QUALQUER GARANTIA;
      mesmo sem a garantia implícita de COMERCIALIZAÇÃO ou ADEQUAÇÃO PARA UM DETERMINADO FIM. Veja
      a GNU Affero General Public Licence pra mais detalhes.
    </p>
    <p class="large-text">
      Você já deve ter recebido uma cópia da GNU Affero General Public Licence ao longo deste sítio.
      Caso não, veja em <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>
    <p/>    
  </section>
</div>
