<% @page_title = 'Sobre o sítio' %>

<% @breadcrumbs = Array.new %>
<%= partial :bread_crumb, :object => @breadcrumbs %>

<p>

<h3>Sobre o portal</h3>

<h4>Missão</h4>
<p>
Disponibilizar dados abertos referentes ao cadastro nacional de reclamações fundamentadas do PROCON de maneira agregada e formatada.
<p/>
<h4>Dados</h4>
<p>

<p/>
<h4>Reclamações fundamentadas</h4>
<p>

<p/>

<br/><br/>

<%= link_to 'Voltar', url(:index), :class => 'btn btn-primary' %>
