<% @page_title = 'Mapa do sítio' %>

<% @breadcrumbs = Array.new %>
<%= partial :bread_crumb, :object => @breadcrumbs %>

<h4>Mapa do sítio</h4>

<div>
  Início
  <ul>
    <li>Indicadores</li>
      <ul>
        <li>Teste</li>
      </ul>
    <li>Pesquisa</li>
      <ul>
        <li>Encontrar Pessoa Jurídica</li>
        <li>Comparar Pessoas Jurídicas</li>
      </ul>
    <li>Ajuda</li>
      <ul>
        <li>Documentação</li>
        <li>Sobre</li>
      </ul>
  </ul>
<div>
