<% @page_title = 'Sobre o sítio' %>

<% @breadcrumbs = Array.new %>
<%= partial :bread_crumb, :object => @breadcrumbs %>

<p>

<h4>Missão</h4>
<p align = 'justify'>
Disponibilizar dados abertos referentes ao cadastro nacional de reclamações fundamentadas do PROCON de maneira agregada e formatada.
<p/>
<h4>Dados</h4>

<p/>
<h4>Reclamações fundamentadas</h4>
<p align = 'justify'>

<p/>

<br/><br/>

<%= link_to 'Voltar', url(:index) %>
